<!DOCTYPE html><html lang="en" class="flex w-full h-full">
<head>
    <meta charset="UTF-8">
    <repeat group="{{ @meta }}" value="{{ @item }}" >
    <meta name="{{ @item["name"] }}" content="{{ @item["content"] }}" >
    </repeat>
    <repeat group="{{ @css }}" value="{{ @link }}" >
    <link rel="stylesheet" href="{{ @link }}">
    </repeat>
    <style>*{font-family: 'Ubuntu', sans-serif;}</style>
    <title>{{@title}}</title>
</head>
<body class="gray300 flex flex-col items-center justify-start w-full h-full select-none">